<h1>Top Albums for <%= @username %></h1>

<% @top_albums.each do |album| %>
  <h2><%= album["name"] %> - <%= album["artist"]["name"] %></h2>
  <% @discogs_results[album["name"]].each do |result| %>
    <p><%= image_tag result.thumb %></p>
    <p><%= result.title %> (<%= result.format %>)</p>
    <p><%= result.community.have %> have</p>
  <% end %>
<% end %>
