<div class="container">
  <h1 class="text-center">Top Ten Albums</h1>

  <% @top_albums.each do |album| %>
    <h2><%= album["name"] %> - <%= album["artist"]["name"] %></h2>
    <div class="card-columns">
      <% @discogs_results[album["name"]].each do |result| %>
        <% card_color = result.format.include?("Vinyl") || result.format.include?("Cassette") ? "card-success" : "card-warning" %>
        <% card_color = "card-danger" if result.format.include?("File") %>
        <div class="card card-inverse <%= card_color %>" style="width: 20rem;">
          <%= image_tag result.thumb, class: "card-img-top" %>
          <div class="card-block">
            <h4 class="card-title"><%= result.title.split('-')[1] %></h4>
            <h4 class="card-title"><%= result.title.split('-')[0] %></h4>
            <p class="card-text"><%= result.format %></p>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
