<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="text-center">Top Ten Albums</h1>

      <% @top_albums.each do |album| %>
        <h3><%= album["name"] %> - <%= album["artist"]["name"] %></h3>
        <div class="card-columns">
          <% @discogs_results[album["name"]].each do |result| %>
            <% card_color = result.format.include?("Vinyl") || result.format.include?("Cassette") ? "card-success" : "card-warning" %>
            <% card_color = "card-danger" if result.format.include?("File") %>
            <div class="card card-inverse <%= card_color %>">
              <%= image_tag result.thumb, class: "card-img-top" %>
              <div class="card-block">
                <h4 class="card-title"><%= result.title.split('-')[1] %></h4>
                <h4 class="card-title"><%= result.title.split('-')[0] %></h4>
                <p class="card-text"><%= link_to result.format, "https://www.discogs.com" + result.uri %></p>
                <p class="card-text"><%= result.country %></p>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
